<div>
  <div class="banner justify-content-center">
    <%= link_to "Create List", new_list_path, class: "btn btn-flat btn-rounded" %>
  </div>

  <div>
    <h2>Your Lists</h2>
    <% @lists.each do |list|%>
      <%= link_to list.name, list_path(list.id) %>
    <% end %>
  </div>
</div>
