.banner {
  background-image: asset-url("banner_image.jpg");
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: aquamarine;
  color: black
}

.btn :hover {
  background-color: aquamarine;
  color: black
}
